<div class="po-wrapper">
  <po-toolbar p-title="Listar Municípios"></po-toolbar>

  <app-menu-lateral></app-menu-lateral>

  <po-page-dynamic-table
  [p-service-api]="serviceApi"
  *ngIf="mostrarTabela"
  [p-auto-router]="true"
  [p-actions]="actions"
  [p-actions-right]="actionsRight"
  [p-breadcrumb]="breadcrumb"
  [p-quick-search-width]="quickSearchWidth"
  [p-keep-filters]="true"
  [p-concat-filters]="true"
  [p-fields]="fields"
  p-keep-params: true
  p-primary-key="id"
  [p-text-wrap]="true"
  [p-hide-remove-all-disclaimer]="true"
  >
  </po-page-dynamic-table>
</div>
